extends layout
block content
  h1= title
  form(id='BiryaniForm', action="/resource/biryanis", method="POST")
   div.form-group
    label.biryaniAttr(for='bir_quantity') Biryani Quantity
    input#bir_quantity(type='text', name='bir_quantity')
   div.form-group
    label.biryaniAttr(for='bir_cost') Biryani cost
    input#bir_cost(type='number', name='bir_cost')
   div.form-group
    label.biryaniAttr(for='bir_ing') Biryani ingredient
    input#bir_ing(type='text', name='bir_ing')
   input(type="submit")
  script.
    document.forms['BiryaniForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'POST',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });